<!DOCTYPE html>
<html lang="en">

  <%- include('../../layout/head')%>
    
<body>
    <%- include('../../layout/header')%>
    <!-- <header> <h2> Best Books!</h2></header> -->
    <p class='para'>Search by Title or Author</p>
    <main>
    <form action="/searches" method="POST">
        <div>
        <input type="text" placeholder="Enter Title or Author" name='input' id="input">
    </div>
        <div>
        <label for="title"> Title </label>
        <input type="radio" name='search' id='title' value="title">
    </div>
    <div>
        <label for="author"> Author </label>
        <input type="radio" name='search' id='author' value='author'>
    </div>
        <button type="submit" class="sub submit">Search the Google Books API</button>
 

    </form>
</main>
<%- include('../../layout/footer')%>
</body>

</html>