<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/rest.css" >
    <link rel="stylesheet" href="styles/base.css" >
    <link rel="stylesheet" href="styles/layout.css" >
    <link rel="stylesheet" href="styles/modules.css" >
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <!-- <style>
        body{
            color: aquamarine;
        }
    </style> -->
</head>
<body>
   
    <!-- <header> <a href='/hello'>Hello World</a></header> -->
    <h1>Hello World</h1>
    <a href='/search/new'>search</a>
    <!-- <a href='/search/show'>search</a> -->
</body>
</html>