<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color: aquamarine;
        }
    </style>
</head>
<body>
   
    <header> <a href='/hello'>Hello World</a></header>
    <a href='/search/new'>search</a>
</body>
</html>