@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Niconne&family=Tangerine:wght@700&display=swap');


@media (min-width: 360px) and (max-width: 736px){

    body{

        background-color: rgb(165, 154, 154);
    }
    header{
        background-color: black;
        height:80px ;
        color: blanchedalmond;
    }
/* Home Page*/

#savedbook{
    text-align: center;
    background-color: rgb(78, 76, 76);
    padding-top: 5px;
    height: 25px;
    color: rgb(180, 147, 180);
    font-family: 'Tangerine', cursive;
}
.resulthome{
    margin-top: 30px;
    height: 350px; 
    width: 80%;
   background-color: thistle;
   margin-left: 10%;
   margin-bottom: 10%;
   text-align: center;
   align-items: center;
   align-content: center;  
   font-family: 'Tangerine', cursive;
   
} 
.resulthome img{
    margin-top: 20px;
    height: 200px;
    width: 50%;
 }
 .resulthome button{
    font-family: 'Charm', cursive;

    background-color: black;
    color: cornsilk;
    font-size: 120%;
 }

 /*  search  */

 .para{
    text-align: center;
    background-color:rgb(105, 103, 103) ;
    height: 40px;
    color: white;
    padding-top: 4%;
    margin-bottom: 20px;
    font-size: 150%;
}

#input  {
  
    height: 98%;
    width: 98%;
    border-radius: 3%;
   
    }
    form div{
        height: 50px;
        width: 80%;
        margin-top: 20px ;
        background-color: rgb(166, 175, 174); 
        border-radius: 3%;
        margin-left: 10%;
    }
  
    form div label{
   
        padding-left: 20px;
        font-size: 130%;
        text-align: center;
        padding-top: 100px;
        align-items: center;
       
    }
    #title,#author{

        margin: 20px;
          }
          #title{
      
              margin-left: 42px;
                }
       
          .submit{
       margin-left:10%;
       margin-bottom: 20%;
          }
        

 /* show search  */


    h2{
        color: rgb(228, 216, 216);
        font-size: 200%;
        padding-top: 4%;
        padding-left: 4%;
    }
 
    .sub {
        margin-top: 20px ;
        background-color: #000;
        color: #fff;
        height: 50px;
        width: 80%;
        border: none;
        font-size: 100%;
       
        visibility: visible;
    }
    main{
        margin-top: 50px;
    }

    .result{
        height: 550px; 
         width: 80%;
        background-color: thistle;
        margin-left: 10%;
        margin-bottom: 10%;
        text-align: center;
        align-items: center;
        align-content: center;
        font-family: 'Charm', cursive;
        
    } 
    .result img{
       margin-top: 20px;
       height: 250px;
       width: 50%;
    }
   .result h3,#result h5,#result p{
        margin-top: 10px;
    }
    .result p{
        margin: auto;
        text-align: center;
        width: 310px;
        border:1px solid black;
        height:60px;
        overflow: scroll;
        background-color: rgb(221, 218, 218);
    }
    .addForm{

        margin-bottom: 40px;
    }

     /* detail  */
     .detail{
         margin-top: 20px;
         height: 600px;
     }
     .detailFrom{
        margin-top: 5%;
     }
     #updat{
         float: left;
         margin-left: 12%;
         font-family: 'Charm', cursive;
     }
     #updat,#remove{
        font-family: 'Charm', cursive;
        font-family: 'Charm', cursive;

        background-color: black;
        color: cornsilk;
        font-size: 120%;
     }

     /*update book*/
     .formUpdate{
         align-items: center;
         align-content: center;
         text-align: center;
     }
     .formUpdate input, .formUpdate select,.formUpdate  #description{
         width: 300px;
         border-radius: 3%;
     }
     .formUpdate  #description{
         height: 100px;
     }
    .updatesubimt {
        font-family: 'Charm', cursive;

        background-color: black;
        color: cornsilk;
        font-size: 120%;
     }
    

}

